*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px;
}
ul, li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

/* 헤더 */
.header{
  width: 100%;  /* 부모 요소의 너비와 똑같게 */
  height:120px;  /* 헤더의 높이 */
  background-color:rgb(0, 70, 42);
  font-size: 0;
}
.header > div {
  padding: 30px 30px;
}

/* 배너 */
.banner{
  padding:20px;
  width:60px;
  height:600px;
  float:right;
  background-color:rgb(0, 70, 42);
  position:fixed;
  right:100px;
  top:200px;
}
.box {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 60px;
  height: 60px; 
  border-radius: 70%;
  overflow: hidden;
}
.box1 {
  width: 60px;
  height: 60px; 
  border-radius: 70%;
  overflow: hidden;
}
.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name{
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.name1{
  font-size: 15px;
  color: #fff;
  text-align: center;
}


/* 공지사항 */
.announce{
  width: 100%;
  float:right;
  padding:20px;
  width:600px;
  height:430px;
  background-color:rgb(185, 185, 185);
  position:relative;
  right:280px;
  top:60px;
}
.board_list{
  width: 100%;
}

.board_list > div.top{
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
  font-size: 20px;
}
.board_list > div.content{
  padding: 10px 0;
  border-bottom: 1px solid #868383;
  text-align: left;
  font-size: 15px;
}
.board_list > div.content > div{
  display: inline-block;
}
.board_list > div.content > div.title{
  width: 80%;
}
.line {
  padding: 10px;
}

.calender{
  float:left;
  padding:20px;
  width:500px;
  height:650px;
  background-color:rgb(233, 230, 186);
  position:relative;
  left:80px;
  top:60px;
}
.notice{
  float:right;
  padding:20px;
  width:600px;
  height:140px;
  background-color:rgb(20, 21, 20);
  color:aliceblue;
  position:relative;
  right:280px;
  top:100px;
}
.link{
  padding:20px;
  width:30px;
  height:30px;
  float:right;
  background-color:rgb(0, 0, 0);
  color:aliceblue;
  position:fixed;
  right:100px;
  top:200px;
}